body{
        display: flex;
        justify-content: center;
        align-items: center;
}
h1{
        font-size: 40px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
}